.form {
  display: flex;
  flex-direction: column;
  &__btn {
    align-self: center;
    margin-top: 20px;
  }
}

.step {
  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  &__stripe {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  &__inputs {
    animation-delay: 400ms;

    margin-bottom: 70px;
    &-item {
      flex: 1;
      &.md {
        flex: 3;
      }
      &.sm {
        flex: 1.5;
      }
    }
  }
}

@media (max-width: 700px) {
  .step {
    &__row {
      gap: 10px;
      margin-bottom: 10px;
    }
    &__inputs {
      margin-bottom: 30px;
    }
  }
}
